.example-card {
   max-width: 400px;
}

.example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
}

.row {
   display: flex !important;
   align-items: center !important;
}

.col {
   display: flex !important;
   align-items: center !important;
}

.h2 {
   display: flex !important;
   align-items: center !important;
}

.th {
   background-color: black !important;
}


mat-card {
   width: 90%;
   height: 90%;
   box-sizing: border-box;
}

a {
   cursor: pointer;
}

.showAh {
   opacity: 1;
   transition: opacity 1s;
}

.hideAh {
   opacity: 0.2;
   transition: opacity 1s;
}

.showAldi {
   opacity: 1;
   transition: opacity 1s;
}

.hideAldi {
   opacity: 0.2;
   transition: opacity 1s;
}

.showCoop {
   opacity: 1;
   transition: opacity 1s;
}

.hideCoop {
   opacity: 0.2;
   transition: opacity 1s;
}

.showDeka {
   opacity: 1;
   transition: opacity 1s;
}

.hideDeka {
   opacity: 0.2;
   transition: opacity 1s;
}

.showDirk {
   opacity: 1;
   transition: opacity 1s;
}

.hideDirk {
   opacity: 0.2;
   transition: opacity 1s;
}

.showHoogvliet {
   opacity: 1;
   transition: opacity 1s;
}

.hideHoogvliet {
   opacity: 0.2;
   transition: opacity 1s;
}

.showJan {
   opacity: 1;
   transition: opacity 1s;
}

.hideJan {
   opacity: 0.2;
   transition: opacity 1s;
}

.showJumbo {
   opacity: 1;
   transition: opacity 1s;
}

.hideJumbo {
   opacity: 0.2;
   transition: opacity 1s;
}

.showPicnic {
   opacity: 1;
   transition: opacity 1s;
}

.hidePicnic {
   opacity: 0.2;
   transition: opacity 1s;
}

.showPlus {
   opacity: 1;
   transition: opacity 1s;
}

.hidePlus {
   opacity: 0.2;
   transition: opacity 1s;
}

.showSpar {
   opacity: 1;
   transition: opacity 1s;
}

.hideSpar {
   opacity: 0.2;
   transition: opacity 1s;
}

.showVomar {
   opacity: 1;
   transition: opacity 1s;
}

.hideVomar {
   opacity: 0.2;
   transition: opacity 1s;
}

.full-width-row {
   width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
   --bar-scale-y: 0;
   --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
   to {
      transform: rotateX(0);
   }
}

@keyframes show {
   to {
      opacity: 1;
   }
}

@keyframes bar-scale {
   to {
      transform: scaleY(1);
   }
}

@keyframes sparkle {
   0% {
      transform: scale(0);
   }

   60% {
      transform: scale(1) translate(4px, 1px) rotate(8deg);
   }

   100% {
      transform: scale(0) translate(4px, 1px) rotate(8deg);
   }
}

@keyframes shimmer {
   to {
      text-shadow: 0 0 8px red;
   }
}

body {
   display: grid;
   height: 100vh;

   background-color: black;
   place-items: center;
}

h1 {
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 8rem;

   line-height: 0.85;
   perspective: 500px;

}

.word {


   animation: show 0.01s forwards, pop-word 1.5s forwards;
   animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
   opacity: 0;

   transform: rotateX(120deg);
   transform-origin: 50% 100%;
   display: inline-block;
}

.word:nth-of-type(2) {
   padding: 0 2rem;

   animation-delay: 1.5s;

   color: gold;
}

.superscript {
   position: relative;
   animation-delay: 3.6s;

   animation-duration: 0.25s;
   animation-name: shimmer;

   vertical-align: text-top;
}

/* bars */
.superscript::before {
   --bar-width: 25%;

   position: absolute;

   top: 37%;
   left: 47%;
   width: 14%;
   height: 48%;

   animation: bar-scale 0.25s linear 3s 1 forwards;

   background: linear-gradient(to right,
         white var(--bar-width),
         transparent var(--bar-width) calc(100% - var(--bar-width)),
         white calc(100% - var(--bar-width)));

   content: "";

   transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
   --size: 10rem;

   position: absolute;

   top: -5%;
   left: -85%;

   width: var(--size);
   height: var(--size);

   animation: sparkle 0.4s linear 3.5s 1 forwards;

   background: radial-gradient(circle at center,
         rgb(252 249 241 / 94%) 0% 7%,
         transparent 7% 100%),
      conic-gradient(transparent 0deg 18deg,
         var(--sparkle-color) 18deg,
         transparent 20deg 40deg,
         var(--sparkle-color) 40deg,
         transparent 43deg 87deg,
         var(--sparkle-color) 87deg,
         transparent 95deg 175deg,
         var(--sparkle-color) 175deg,
         transparent 178deg 220deg,
         var(--sparkle-color) 220deg,
         transparent 222deg 270deg,
         var(--sparkle-color) 270deg,
         transparent 275deg 300deg,
         var(--sparkle-color) 300deg,
         transparent 303deg 360deg);

   border-radius: 50%;
   clip-path: polygon(50% 0,
         59.13% 26.64%,
         85.13% -2.35%,
         100% 50%,
         50% 100%,
         0 50%,
         31.39% 34.86%);

   content: "";

   filter: blur(1px);

   transform: scale(0);
}

@media screen and (max-width: 600px) {
   h1 {
      font-size: 5rem;
   }

   /* sparkle */
   .superscript::after {
      --size: 6rem;
   }
}

.test-tile:hover {
   transform: scale(1.03);
}

.test-tile {
   transition: transform 0.3s ease;
   /* Add a transition to the transform property */
}

/* CSS */
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.spin-image {
   animation: spin 1s linear infinite;
   /* Adjust animation duration as needed */
}

.product-details {
   background-color: #f4f4f4;
   padding: 16px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details ul {
   list-style: none;
   padding: 0;
}

.product-details li {
   margin-bottom: 10px;
   font-size: 18px;
}

.product-details a {
   text-decoration: none;
   color: #3498db;
   transition: color 0.3s;
}

.product-details a:hover {
   color: #2980b9;
}

.product-details li:first-child {
   font-weight: bold;
}

.product-details {
   background-color: #f4f4f4;
   padding: 16px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details ul {
   list-style: none;
   padding: 0;
}

.product-details li {
   margin-bottom: 10px;
   font-size: 18px;
}



.product-details a {
   text-decoration: none;
   color: #3498db;
   transition: color 0.3s;
}

.product-details a:hover {
   color: #2980b9;
}

.product-details li:first-child {
   font-weight: bold;
}