<div class="row">
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
    <div class="col d-flex">
        <img src="src\assets\logos\ahlogo.jpg">
    </div>
</div>