<div class="row">
    <div class="col d-flex">
        <a href="https://www.ah.nl/" target="_blank">
            <img src="https://static.ah.nl/ah-static/images/ah-ui-bridge-components/logo/logo-ah.svg"
                alt="logo albert heijn" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.aldi.nl/" target="_blank">
            <img src="https://www.aldi.nl/etc/designs/aldi/web/frontend/aldi/images/favicons/favicon-192x192.png.res/1638343053228/favicon-192x192.png"
                alt="logo alidi" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.coop.nl/" target="_blank">
            <img src="https://www.coop.nl/assets/themes/custom/img/logo_apple_180x180.png" alt="logo coop" height="50px"
                width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.dekamarkt.nl/" target="_blank">
            <img src="https://d3r3h30p75xj6a.cloudfront.net/static-images/deka/web/favicon.svg" alt="logo dekamarkt"
                height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.dirk.nl/" target="_blank">
            <img src="https://d3r3h30p75xj6a.cloudfront.net/static-images/dirk/web/app_icon.png" alt="logo dirk"
                height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.hoogvliet.com/" target="_blank">
            <img src="https://www.hoogvliet.com/INTERSHOP/static/WFS/org-webshop-Site/-/-/nl_NL/img/smart_banner_icon.png"
                alt="logo hoogvliet" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.janlinders.nl/" target="_blank">
            <img src="https://www.janlinders.nl/tl_files/images/Persberichten/JL_web_logo_700x200_wk10-2015.jpg"
                alt="logo janlinders" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.jumbo.com/" target="_blank">
            <img src="https://www.jumbo.com/INTERSHOP/static/WFS/Jumbo-Grocery-Site/-/-/nl_NL/images/favicon.ico"
                alt="logo jumbo" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.picnic.nl/" target="_blank">
            <img src="https://d2jxuf8ovdiw8x.cloudfront.net/uploads/sites/18/2020/11/logo.svg" alt="logo picnic"
                height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.plus.nl/" target="_blank">
            <img src="https://play-lh.googleusercontent.com/oIetxLUcZLIA_VrAGWmpLrBy6UHs0bAJNESA3IOg2nNGoq4zHSrUbEdj6fDOZk7NaPw"
                alt="logo plus" height="50px" width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.spar.nl/" target="_blank">
            <img src="https://www.spar.nl/Content/img/favicon/android-icon-192x192.png" alt="logo spar" height="50px"
                width="50px">
        </a>
    </div>
    <div class="col d-flex">
        <a href="https://www.vomar.nl/" target="_blank">
            <img src="https://www.vomar.nl/apple-touch-icon.png" alt="logo vomar" height="50px" width="50px">
        </a>
    </div>
</div>